<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Accueil</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/recups">Liste de Récup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mes amis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Déconnexion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
