<div class="col-sm-8 col-sm-offset-2">
    <h2>Modifier le nom de la récup</h2>
    <form [formGroup]="recupForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nomRecup" formControlName="nom" placeholder="nouveau nom de recup">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="recupForm.invalid">Valider</button>
    </form>

</div>
