<div class="col-sm-8 col-sm-offset-2">
  <h2>Ajouter un nouveau produit en base de données</h2>
  <form [formGroup]="produitCreateForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="searchProduct" class="form-label">rechercher</label>
      <input type="text" id="searchProduct" class="form-control" formControlName="searchProduct" placeholder="nom du produit">
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="produitCreateForm.invalid">Valider</button>
  </form>
</div>

<div *ngIf="produits.length > 0" class="col-sm-8" style="padding-top: 2rem;">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Produit</th>
            <th scope="col">Prix</th>
            <th scope="col">Prix_Unite</th>
            <th scope="col">Ajouter</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produit of produits">
                <th scope="row">{{ produit.nom | titlecase }}</th>
                <th scope="row" *ngIf="produit.prix != 0">{{ produit.prix | currency: 'EUR'}}</th>
                <th scope="row" *ngIf="produit.prix == 0"> le prix du produit n'est pas disponible</th>
                <th scope="row" *ngIf="produit.prix != 0">{{ produit.prixUnite }}/{{ produit.unite }}</th>
                <th id="thButton">
                  <button class="btn btn-primary" *ngIf="produit.prix != 0" (click)="persistProduct(produit)">Ajouter</button>
                </th>
            </tr>    
        </tbody>
      </table> 
</div>

<div *ngIf="isError">
  <h2 style="color: red;">Aucun produit correspond trouvé</h2>
</div>