<div class="col-sm-8 col-sm-offset-2">
    <h2>Créer une récup</h2>
    <form [formGroup]="recupForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nomRecup" formControlName="nom" placeholder="si laisser vide, le nom sera la date">
        </div>
        <button class="btn btn-primary" type="submit">Valider</button>
    </form>
</div>
