<div class="row">
    <div class="col-xs-12">
        <div class="bg-light border mt-2">
            <h1>{{ recup.nom | titlecase }}</h1>
            
            <div class="contenu">
                <div class="infoRecup">
                    <h3>Somme : {{ recup.somme | currency: 'EUR'}}</h3>
                    <h4>{{ recup.dateCreation | date: 'd MMMM yyyy'}}</h4>
                </div>
                <div class="bgRetour">
                    <button class="btn btn-primary" (click)="onBack()">Retour</button>
                </div>
                <div class="bgSupprAndUp">
                    <button class="btn btn-success" (click)="updateRecup()">Modifier</button>
                    <button class="btn btn-danger" (click)="deleteRecup()">Supprimer</button>
                </div>
            </div>
            
            <div class="bg-light border top">
                <app-asso-list></app-asso-list>
            </div>
        </div>    
    </div>      
</div>
