.col-xs-12 {
    margin-top: 1rem;
}

h1 {
    text-align: center;
}

.bgSupprAndUp {
    text-align: right;
    margin-bottom: 5px;

}

.bgRetour {
    text-align: right;
    margin-bottom: 5px;
}

.infoRecup {
    text-align: left;
}