<div class="row">
    <div class="col-xs-12">
        <div class="bg-light border mt-2">
            <h1>{{ produit.nom | titlecase }}</h1>
            <br>
            <img *ngIf="produit.image" src="produit.image" alt="produit.nom">
            <div class="contenu">
                <div class="infoProduit">
                    <h3>{{ produit.prix | currency: 'EUR'}}</h3>
                    <h4>{{ produit.quantite | number: '1.0-2' }}</h4>
                </div>
                <div class="bgRetour">
                    <button class="btn btn-primary" (click)="onRetour()">Retour</button>
                </div>
            </div>
        </div>    
    </div>
</div>        