<div class="row">
    <div class="col-xs-12">
        <div class="bg-light border mt-2">
            <h1>{{ produit.nom | titlecase }}</h1>
            <img *ngIf="produit.image" src="produit.image" alt="produit.nom">
            <div class="contenu">
                <div class="infoProduit">
                    <h3>Prix : {{ produit.prix | currency: 'EUR'}}</h3>
                    <form (ngSubmit)="onSubmit(formulaire)" #formulaire="ngForm">
                        <div class="form-group">
                            <label for="quantite">quantité : </label>
                            <input type="number" min="1" id="quantite" class="form-control" name="quantite" ngModel placeholder="1">
                        </div>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>    
    </div>
</div> 

