
<div class="row">
    <div class="col-xs-12">
        <h2>Récup</h2>
        <div class="list-group">
            <div class="list-group-item" *ngFor="let recup of recups">   
                <h3>
                   {{ recup.nom | titlecase }} 
                </h3>
                <p> {{ recup.dateCreation | date: 'd MMMM yyyy' }} </p>
                <button class="btn btn-primary" (click)="onViewRecup(recup.id)">Consulter</button>
            </div>
        </div>
    </div>
</div>
