<div class="col-sm-8 col-sm-offset-2">
    <h2>Modifier le produit pour la récup</h2>
    <form [formGroup]="produitForm" (ngSubmit)="onSubmitForm()">
        <div>
            <h5>{{ produit.nom | titlecase }}</h5>
        </div>
        <div class="form-group">
            <label for="quantite">quantité : {{ produit.quantite }}</label>
            <input type="number" min="1" class="form-control" id="quantiteProduit" formControlName="quantite" placeholder="1">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="produitForm.invalid">Valider</button>
    </form>
</div>

