<div class="h-100">
    <div class="align-self-center">
        <h1>A la ptit' Récup</h1>
    </div>
    <div class="image">
        <img src="../../assets/img/image-récup.jpg" height="600" alt="oh les beaux fruits">
    </div>
    <br>
    <div class="align self center">
        <button class="btn btn-primary" (click)="onForm()">Créer une Récup</button>
    </div>
</div>

    

