<div class="col-sm-8 col-sm-offset-2">
    <h2>Ajouter un produit dans la récup</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Produit</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produit of produits">
                <th scope="row">{{produit.nom | titlecase}}</th>
            </tr>    
        </tbody>
      </table>     
</div>