<div class="col-sm-8 col-sm-offset-2">
    <h2>Ajouter un produit à une récup</h2>
    <form [formGroup]="produitForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
            <label for="idProduit">Produit</label>
            <select id="idPorduit" class="form-control" formControlName="idProduit">
                <option value="" disabled selected hidden>Choisissez un produit</option>
                <option *ngFor="let produit of produits" value="{{ produit.id }}">{{ produit.nom }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="quantite">quantité</label>
            <input type="number" min="1" class="form-control" id="quantiteProduit" formControlName="quantite" placeholder="1">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="produitForm.invalid">Valider</button>
    </form>
</div>
<br>
<div class="col-sm-8 col-sm-offset-2">
    <button class="btn btn-success" id="btnScrap" (click)="onScrap()">Sauvegarder un nouveau produit</button>
</div>


