<div class="container container-fluide">
    <h3>Liste de produit</h3>
    <button class="btn btn-primary" id="ajoutProd" (click)="CreateProductInRecup()">Ajouter un Produit</button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Produit</th>
          <th scope="col">Quantité</th>
          <th scope="col">Prix</th>
          <th scope="col">Liens</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let produit of produits">
              <th scope="row">{{produit.nom | titlecase}}</th>
              <th scope="row">{{produit.quantite | number}}</th>
              <th scope="row">{{produit.prix | currency: 'EUR'}}</th>
              <th>
                <button class="btn btn-primary" (click)="onViewProduct(produit.id)">Consulter</button>
              </th>
              <th id="thBtn">
                  <button class="btn btn-success" (click)="updateProductInRecup(produit.id)">modifier</button>
                  <button class="btn btn-danger" (click)="deleteProduitInRecup(produit.id)">Supprimer</button>
              </th>
          </tr>    
      </tbody>
    </table>     
  </div>
